.wrapper {
  display: flex;
}

.intro {
  padding: 0 50px;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 10em;
  opacity: 1;
  min-height: 100vh;
  pointer-events: none;
}

.pts-react {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #eeeeee55;
  z-index: -1;
  box-shadow: inset 0px 0px 10px #a6c3cf;
}

@media only screen and (max-width: 600px) {
  .intro {
    padding: 0;
    margin: 5em auto 5em auto;
  }
}

.hidden {
  opacity: 0;
}

.heading {
  margin: 0;
  margin-top: 1em;
  font-weight: bold;
}

.subheading {
  margin-top: 0.5em;
  margin-bottom: 0;
  background-color: #eeeeee25;
  display: inline-block;
}

.photo {
  min-height: 128px;
  max-width: 128px;
  margin: 0 auto;
  border-radius: 50%;

  pointer-events: auto;
}

.photo:hover {
  -webkit-box-shadow: 0 0 10px var(--primary);
  box-shadow: 0 0 10px var(--primary);
}

.summary {
  margin: 3em auto;
  line-height: 2;
  background-color: #eeeeee25;
}

.icons {
  padding: 0 10%;

  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  pointer-events: auto;
}

.icon {
  -webkit-filter: invert(27%) sepia(40%) saturate(6820%) hue-rotate(183deg) brightness(93%) contrast(101%);
  filter: invert(27%) sepia(40%) saturate(6820%) hue-rotate(183deg) brightness(93%) contrast(101%);
  max-height: 2em;
  min-width: 2em;
  cursor: pointer;
  opacity: 0.95;
  margin: 0 1em;
}

.icon:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}
