@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 100;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'IBM Plex Sans', sans-serif;
  /* font-size: 1em; */
  overflow-x: hidden;
}

code {
  font-family: 'IBM Plex Mono', source-code-pro, monospace;
}

html {
  scroll-behavior: smooth;
}

p {
  line-height: 1.75em;
}

summary {
  list-style-type: none; /* Firefox */
}

summary::-webkit-details-marker {
  display: none; /* Chrome */
}
