@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-prim-light to-prim-dark;
}

body {
  margin: 100;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'IBM Plex Sans', sans-serif;
  /* font-size: 1em; */
  overflow-x: hidden;
}

code {
  font-family: 'IBM Plex Mono', source-code-pro, monospace;
}

html {
  scroll-behavior: smooth;
}

p {
  line-height: 1.75em;
}

summary {
  list-style-type: none; /* Firefox */
}

summary::-webkit-details-marker {
  display: none; /* Chrome */
}

.handwritten {
  font-weight: 500;
  font-family: 'Caveat';
}

.arrow-straight {
  margin-top: 1rem;
  transform-origin: top left;
}

.arrow-down {
  transform-origin: top left;
  transform: scaleY(-100%) rotate(25deg) scale(1.1);
  margin-top: 3.5rem;
  margin-left: 0.4rem;
}
