.projects {
  max-width: 1000px;
  margin: 0 auto;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  transition: 0.3s;
}

.project {
  display: flex;
  flex-direction: row;
  margin: 3em 0;
  transition: 0.3s;
}

.divider {
  width: 100px;
  border: 2px solid #0077b2;
  border-radius: 10px;
  margin-bottom: 0.5em;
}

.right {
  flex-direction: row-reverse;
}

.project-inner {
  margin: 0 0 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 45%;
  text-align: left;
}

.right > .project-inner {
  margin: 0 10% 0 0;
}

.project-image {
  width: 100%;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-image img {
  border-radius: 5px;
}

.project-name {
  min-width: 5em;
  margin: 0.25em 0 0.5em 0;
  padding-bottom: 0.5em;
}

.project-name > h2 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.project-name > p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.project-button {
  display: inline-block;
  color: #0077b2;
  font-weight: bold;
  border: 1px solid #0077b2;
  border-radius: 100px;
  padding: 0.25em 1em;
  margin-top: 0.75em;
  transition: 0.3s;
}

.project-button:hover {
  color: white;
  background-color: #0077b2;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .project {
    flex-direction: column;
  }
  .project-inner {
    margin: 10% 0;
  }
  .right > .project-inner {
    margin: 10% 0;
  }
  .project-image {
    width: 100%;
  }
}
