.tree-wrapper {
    width: 100%;
    padding-bottom: 20%;
    position: relative;
}
.tree {
    -webkit-animation: cd-bounce-1 1s;
    -moz-animation: cd-bounce-1 1s;
    animation: cd-bounce-1 1s;
    padding-bottom:2.76%;
    cursor: pointer;
}

.tree-circle-small {
    width: 3%;
    height: 3%;
    background: #478fb3;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    visibility: visible;
}

.tree-circle-small-text {
    font-size: 95%;
    color: #478fb3;
    font-weight: bold;
    transition: all .2s ease-in-out;
}





@media only screen and (max-width: 1600px) {
    .tree-circle-small-text {
        font-size: 85%;
    }
}
@media only screen and (max-width: 1200px) {
    .tree-circle-small-text {
        font-size: 65%;
    }
}
@media only screen and (max-width: 576px) {
    .tree-circle-small-text {
        font-size: 55%;
    }
}
@media only screen and (max-width: 420px) {
    .tree-circle-small-text {
        font-size: 35%;
    }
}

.tree-circle-medium {
    width: 4%;
    height: 4%;
    background: #0076b2;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.tree-circle-medium-text {
    font-size: 140%;
    color: #0076b2;
    font-weight: bold;
    transition: all .2s ease-in-out;
}


@media only screen and (max-width: 1600px) {
    .tree-circle-medium-text {
        font-size: 130%;
    }
}
@media only screen and (max-width: 1200px) {
    .tree-circle-medium-text {
        font-size: 110%;
    }
  }

@media only screen and (max-width: 576px) {
    .tree-circle-medium-text {
        font-size: 80%;
    }
}


.tree-circle-large {
    width: 6%;
    height: 6%;
    background: #0076b2;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.tree-circle-large-text {
    font-size: 215%;
    color: #0076b2;
    font-weight: bold;
    transition: all .2s ease-in-out;
}



@media only screen and (max-width: 1600px) {
    .tree-circle-large-text {
        font-size: 190%;
    }
}
@media only screen and (max-width: 1200px) {
    .tree-circle-large-text {
        font-size: 150%;
    }
}
@media only screen and (max-width: 576px) {
    .tree-circle-large-text {
        font-size: 100%;
    }
}

.tree-circle-small:hover {
    transform: scale(1.3); 
}

.tree-circle-small:hover + div{
    transform: scale(1.3); 
}

.tree-circle-medium:hover {
    transform: scale(1.2); 
}

.tree-circle-medium:hover + div{
    transform: scale(1.2); 
}

.tree-circle-large:hover {
    transform: scale(1.1); 
}

.tree-circle-large:hover + div{
    transform: scale(1.1); 
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}